# change this file to env.sh and modify the parameters as needed
REPO_URL="registry.cn-shenzhen.aliyuncs.com/jupiterso/ruoyi"
PERSIST_PATH="/opt/docker"
MYSQL_PASSWORD=Your_Password
REDIS_PASSWORD=Your_Password
RUOYI_PASSWORD=Your_Password