services:
  postgres:
    image: postgres:14
    mem_limit: 512mb
    cpus: 1
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=jupiter
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD} # read from .env
      - POSTGRES_DB=wp
    ports:
      - "9527:5432"
    volumes:
      - /opt/docker/postgres/data:/var/lib/postgresql/data
    networks:
      - wp-net

networks:
  wp-net:
    external: true
    name: wp-net
