**/classes/*
**/*.class
**/target/*
**/.idea/*
logs/*
**/*.log
**/*.iml
*.textClipping
**/target/
.aider*

#Ingore the sensitive files, prerequisite is that the version repository has not been added
c3p0-config.xml
jdbc.properties
postgresql.properties
mail.properties
cert-world-peace.json
application-local.yml # local development有key的配置，避免泄露
.env
