networks:
  wp-net:
    external: true
    name: wp-net

services:
  wpadmin:
    image: ${REPO_URL}/world-peace-admin:1.2
    user: "0:0" #run with root user (UID:GID)
    mem_limit: 512m
    cpus: 1
    container_name: wpadmin
    hostname: wpadmin
    restart: unless-stopped
    environment:
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8090:8090"
    volumes:
      - ${PERSIST_PATH}/wpadmin/world-peace-admin.jar:/apps/world-peace-admin.jar
      - ${PERSIST_PATH}/wpadmin/logs:/apps/logs
      - ${PERSIST_PATH}/wpadmin/data:/apps/data
    networks:
      wp-net:
        aliases:
          - wpadmin
