# change this file to .env and modify the parameters as needed

REPO_URL="registry-vpc.cn-shenzhen.aliyuncs.com/jupiterso"
WPADMIN_VERSION="world-peace-admin:1.2"
PERSIST_PATH="/opt/docker"

# Database connection (external PostgreSQL)
DB_URL="jdbc:postgresql://xx.jupiterSo.com:xxx/xx"
DB_USERNAME="jupiter"
DB_PASSWORD="your_password_here"
