<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">
<!--    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    //上面两个是基础IOC的约束，必备
    xmlns:context="http://www.springframework.org/schema/context"
    //上面一个是开启注解管理Bean对象的约束
    xmlns:aop="http://www.springframework.org/schema/aop"
    //aop的注解约束
    xmlns:tx="http://www.springframework.org/schema/tx"
    //事务的约束
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    //上面两个是基础IOC的约束，必备
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    //上面一个是开启注解管理Bean对象的约束
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    //aop的注解约束
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    //事务的约束
    </beans>-->

    <bean id="empDao" class="com.jupiter.test.impl.EmpDaoImpl2"></bean>

    <bean id="calc_00001" class="com.jupiter.calc.Calculator">
        <property name="name" value="calc_00001"></property>
        <property name="mv" value="100"></property>
        <property name="indexValue" value="99.99"></property>
        <property name="largeOrSmall" ref="largeOrSmall"></property>
    </bean>

    <util:map id="stockPriceMap" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="0001.HK" value="12"></entry>
        <entry key="0002.HK" value="34"></entry>
    </util:map>

    <bean id="largeOrSmall" class="com.jupiter.basic.branch.SwitchAndIf" scope="prototype"></bean>

</beans>