#--spring.config.location=/dirname/application.properties #程序参数
#or
#-Dspring.config.location=/dirname/application.properties #jvm参数
#or java -jar xxx.jar --server.port=8090
env: dev
spring.profiles.active: ${env}
server:
  port: 8090
  shutdown: graceful # graceful shutdown

mcp.server.url: http://www.JupiterSo.com:8001
governmentIssuedNumber: 粤ICP备2024203563号-1
food:
  meat: 烤肉${random.int}
  rice: 拌饭
wp-config:
  admin-config:
    key1: 120
    0011.HK: 340
jasypt:
  encryptor:
    password: 123456@!#
    algorithm: PBEWithMD5AndDES #2.1.2默认PBEWithMD5AndDES 3.0.5默认PBEWithHMACSHA512AndAES_256
    iv-generator-classname: org.jasypt.iv.NoIvGenerator
info:
  username: ENC(RXTcvmGZX3n2+krr2fTQkmBX6neZA1dv)
  password: ENC(T/fw8HMxOLTxxnD6Gj40J/dpxDYStVr7)
logging:
  level:
    root: info

file-upload-path: data/upload
# maxFileSize 单个数据大小
# maxRequestSize 是总数据大小
spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  lifecycle:
    timeout-per-shutdown-phase: 30 # shutdown timeout
  ai:
    mcp:
      client:
        enable: true
        name: mcp-client
        version: 1.0.0
        request-timeout: 60s
        type: SYNC
        sse:
          connections:
            server1:
              url: http://www.JupiterSo.com:8000
