<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>JupiterSo</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/common.css" />
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
<body>
<h2>Welcome to JupiterSo !</h2>
<div class="box center">
    <br/>
    <span>
        <h3><a href="/jupiter/websocket" target="_blank">进入聊天室</a></h3>
        <h3><a href="http://www.jupiterSo.com/ruoyi/" target="_blank">后台管理</a></h3>
        <h3><a href="/test" target="_blank">File Upload</a></h3>
        <h3><a href="/shop" target="_blank">京西商城</a></h3>
        <h3><a href="http://tx.jupiterSo.com:8989">Jenkins</a></h3>
        <h3><a href="/pyda">Python大数据分析刷题</a></h3>
        <h3><a href="/pyda2">Python大数据分析刷题(Enhanced)</a></h3>
        <br/>
        <hr>
        著名的JL说过，<strong>JupiterSo</strong> 是一个<strong>开源技术</strong>的<strong>宝地</strong>。
        <hr>
    </span>
    <br/><br/>
    <a href="http://www.jupiterisland.com" target="_blank">友情链接:Jupiter岛</a>
    <br/>
    <img src="/images/banner.jpg" alt="Jupiter岛">
    <br/><br/>
<!--    <img width="1200" height="300" th:src="@{/images/Florida-Sunrise-scaled.jpg}" alt="Florida-Sunrise-scaled">-->
</div>

<div class="footer" th:replace="bottom :: bottom"></div>
</body>
</html>
